.cust-container
  .row.mt-5.mb-5
    .col-sm-3
      .card
        .card-body
          p.card-text.text-center Ready
          h1.card-title.text-center 0
    .col-sm-3
      .card
        .card-body
          p.card-text.text-center Ready
          h1.card-title.text-center 0
    .col-sm-3
      .card
        .card-body
          p.card-text.text-center Ready
          h1.card-title.text-center 0
    .col-sm-3
      .card
        .card-body
          p.card-text.text-center Ready
          h1.card-title.text-center 0
