<div class="cust-container">
    <div class="row mt-5 mb-5">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
                <p class="card-text text-center">Ready</p>
              <h1 class="card-title text-center">0</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
                <p class="card-text text-center">Ready</p>
              <h1 class="card-title text-center">0</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text text-center">Ready</p>
                  <h1 class="card-title text-center">0</h1>
                </div>
            </div>
          </div>
    
          <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text text-center">Ready</p>
                  <h1 class="card-title text-center">0</h1>
                </div>
            </div>
          </div>
      </div>
</div>
 
  