<div class="login-card">
    <h2>Login</h2>
    <p></p>
    <form action="/login" class="login-form" method="post">
        <input type="email" name="email" id="email" placeholder="Username" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <a href="#">Forgot your password</a>
        <div class="form-control">
            <input type="checkbox" name="rememberme" id="" class="rememberme">
            <label>Remember me</label>
        </div>
        
        <button type="submit" name="submit">Login</button>
        <a href="/register">Register</a>
    </form>
</div>