<header class="header">
    <a href="#">
        <img src="img/logo.png" alt="Logo" class="logo">
    </a>
    
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="#howitworks">How it works</a></li>
            <li><a class="main-nav-link" href="#meals" >Meals</a></li>
            <li><a class="main-nav-link" href="#testimonials" >Testimonials</a></li>
            <li><a class="main-nav-link" href="#pricing" >Pricing</a></li>
            
            <li><a class="main-nav-link nav-cta" href="#tryforfree" >Try for free</a></li>
        </ul>
    </nav>
    <!-- <button class="btn-mobile-nav">
        <ion-icon class = "icon-mobile-nav" name="menu-outline" id="menu-mobile"></ion-icon>
        <ion-icon  class = "icon-mobile-nav" name="close-outline" id = "menu-close"></ion-icon>
    </button> -->
</header>