.container
  nav.navbar.navbar-expand-lg.navbar-light
    .container-fluid
      a.navbar-brand.fs-2(href='/dashboard') Student Management System
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(href='/child-info') My Child
          li.nav-item
            a.nav-link(href='/payments') Payments
          li.nav-item
            a.nav-link(href='/settings') Preferences
               li.nav-item
            a.nav-link(href='/newdashboard') NewDashboard
          li.nav-item
            a.nav-link(href='/') Logout