
<div class="cust-container">
    <div class="row mt-5 mb-5">
      <div class="col">
        <div class="card">
            <div class="card-body">
                <h3 class="card-text">Payment History</h3>

                <!--Drop Down-->

                <div class="dropdown mb-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                     Select Term/Period
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Term 1</a></li>
                      <li><a class="dropdown-item" href="#">Term 2</a></li>
                      <li><a class="dropdown-item" href="#">Term 3</a></li>
                      <li><a class="dropdown-item" href="#">Summer School</a></li>
                    </ul>
                  </div>
                
                 <!--Drop Down-->


                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Method</th>
                        <th scope="col" class="text-center">View Reciept</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Sept 20,2022</th>
                        <td>School Fee</td>
                        <td>$50,000.00</td>
                        <td>Bank Logdement</td>
                        <td class="text-center"><button class="btn btn-danger btn-sm">View</button></td>
                      </tr>
                      <tr>
                        <td scope="row">Sept 21,2022</th>
                        <td>Lunch - Weekly</td>
                        <td>$5,000.00</td>
                        <td>Bank Logdement</td>
                        <td class="text-center"><button class="btn btn-danger btn-sm">View</button></td>
                      </tr>
                      <tr>
                        <td scope="row">Sept 22,2022</th>
                        <td>After Care - Weekly</td>
                        <td>$5,000.00</td>
                        <td>Bank Logdement</td>
                        <td class="text-center"><button class="btn btn-danger btn-sm">View</button></td>
                      </tr>
                      <tr>
                        <td scope="row">Sept 22,2022</th>
                        <td>Uniforms</td>
                        <td>$2,000.00</td>
                        <td>Bank Logdement</td>
                        <td class="text-center"><button class="btn btn-danger btn-sm">View</button></td>
                      </tr>
                    </tbody>
                  </table>

            </div>
          </div>
      </div>
      
    </div>
  </div>