<div class="login-card">
    <h2>Register</h2>
    <form method="POST" action="register" class="login-form" >
        <input type="text" name="name" id="name" placeholder="Enter your first and last name" required>
        <input type="email" name="email" id="email" placeholder="Enter your email address" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="password" name="conpassword" id="conpassword" placeholder="Confirm Password" required>
        <button type="submit" name="submit">Register</button>
        
        <span>Already registered? <a href="/">Login</a></span>
    </form>
</div>