@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');
:root{
    --blue:#003566;
}
body{
    background-color: var(--blue);
    overflow: hidden;
}

h1,h2,h3,h4,h5{
    font-family: "Fira Sans", sans-serif !important;
}

.content{
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
    border-radius: 5px;

}

.signin-text{
    font-style: normal;
    font-weight: 600 !important;
}

label{
    font-weight: 400 !important;
    font-family: "Poppins",sans-serif;
}

.form-control{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: var(--blue) !important;
    border-style: 1px solid !important;
    /* border-width: 0 0 1px 0 !important; */
    padding: 0.25rem 0.75rem !important;
    color: #495057;
    height: auto;
    border-radius: 5px;
    background-color: #fff;
    background-clip: padding-box;

}

.form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0 !important;
    box-shadow: none;
}

.btn-class{
    border-color: var(--blue);
    color: #fff;
    background-color: var(--blue);
    text-transform: uppercase;
    font-weight: 500;
}

.btn-class:hover{
    background-color: var(--blue);
    color: #fff;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
}

.btn-class:focus{
    outline: none !important;
}

.btn-link{
    text-decoration: none;
    color:var(--blue);
}

img.img-fluid {
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {

   .signin-text{
    margin-top: 1rem;
    text-align: center;
   }

   .registerImg, .loginImg{
    display: none;
   }
    
    }